<!DOCTYPE html>
<html><!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v19.1.0/dist/font-face.css" rel="stylesheet" type="text/css">
</head>
  <body>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form">
    <main>
        <div class="todo-holder">
            <div class="container">
              <h3>طلب دخول زائر</h3>
                <div class="todo">
                    <div class="form-holder">
                        <div class="dish"></div>
                        <div class="header">
                            <a class="header-item activated" href="#login" id="login-caller">معلومات الزائر</a>                        </div>
                        <div class="form activated" id="login" >
                            <div class="input-row">
                                <input class="input" type="text" name="name" formControlName="name" [ngClass]="{ 'is-invalid' : submitted && f['name'].errors}">
                                <label class="label">اسم الزائر</label>
                                <span class="highlite"></span>
                                <span class="bar"></span>
                                <div *ngIf="submitted && f['name'].errors" >
                                    <small style="color: red;" *ngIf="f['name'].errors['required']">يرجى ادخال الاسم</small>
                                    <small style="color: red;" *ngIf="f['name'].errors['pattern']">يرجى ادخال اسم مكون من حروف فقط</small>
                                </div>
                        
                               
                                <!-- -->

                            </div>
                            <div class="input-row">
                            <input class="input" type="tel" id="phone" name="phone" formControlName="phone" [ngClass]="{ 'is-invalid' : submitted && f['phone'].errors}">
                                <label class="label">رقم الزائر</label>
                                <span class="highlite"></span>
                                <span class="bar"></span>
                                <div *ngIf="submitted && f['phone'].errors" >
                                    <small style="color: red;" *ngIf="f['phone'].errors['required']">يرجى ادخال الرقم</small>
                                    <small style="color: red;" *ngIf="f['phone'].errors['minlength']">يرجى ادخال رقم مكون من عشر خانات</small>
                                    <small style="color: red;" *ngIf="f['phone'].errors['maxlength']">يرجى ادخال رقم مكون من عشر خانات</small>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="form-holder">
                      <div class="dish"></div>
                      <div class="header">
                          <a class="header-item activated" href="#login" id="login-caller">معلومات الزيارة</a>                        </div>
                      <div class="form activated" id="login" >
                          <div class="input-row">
                              <input class="input" type="text" name="reason" formControlName="reason" [ngClass]="{ 'is-invalid' : submitted && f['reason'].errors}">
                              <label class="label">سبب الزيارة</label>
                              <span class="highlite"></span>
                              <span class="bar"></span>
                              <div *ngIf="submitted && f['reason'].errors" >
                                <small style="color: red;" *ngIf="f['reason'].errors['required']">يرجى ادخال سبب الزيارة</small>
                            </div>
                          </div>
                          <div class="input-row">
                              <input class="input" type="number" max="10" name="fnumber" formControlName="fnumber" [ngClass]="{ 'is-invalid' : submitted && f['fnumber'].errors}">
                              <label class="label">رقم الدور</label>
                              <span class="highlite"></span>
                              <span class="bar"></span>
                              <div *ngIf="submitted && f['fnumber'].errors" >
                                <small style="color: red;" *ngIf="f['fnumber'].errors['required']">يرجى ادخال رقم الدور</small>
                            </div>
                          </div>
                        </div>
                  </div>
                    <div class="sub-button">
                        <input class="button" type="submit" value="ارسال">
                    </div>
                </div>
            </div>
            
        </div>
    </main>
</form>
</body>
</html>